<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDib6rNQP2udcRyhNNAXurmixPe_6JpFSE</string>
	<key>GCM_SENDER_ID</key>
	<string>755026833575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekaterinasavina.sample.KanjiRenshuu</string>
	<key>PROJECT_ID</key>
	<string>kanjirenshuu-ks</string>
	<key>STORAGE_BUCKET</key>
	<string>kanjirenshuu-ks.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755026833575:ios:47e9877448517ff2426b82</string>
</dict>
</plist>